* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE GENERALI */
body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;

}

/* contenitore delle card */
.team-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    width: 35vw;

}

/* contenitore immagine */
.img-container {

    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: black;

}

/* regole img */
.img-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* container testo */
.text-container {

    text-align: start;
    padding: 15px;
    background-color: black;

}

/* regole titolo */
.text-container h3 {

    font-size: 20px;
    margin-bottom: 10px;
    color: white;

}

/* regole span */
.text-container span {

    display: block;
    color: white;
    margin-bottom: 5px;

}

/* regole a (email) */
.text-container a {

    color: #007bff;
    text-decoration: none;

}

.text-container a:hover {

    text-decoration: underline;

}

h1 {

    font-size: 40px;
    margin-bottom: 20px;
    color: #e53170;

  }