* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE GENERALI */
body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;

}

/* contenitore main */
.main-container {

    display: flex;
    justify-content: center;

}

/* contenitore delle card dove andrà a stampare JS*/
.team-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    width: 100%;
    max-width: 2500px;

}

/* contenitore immagine */
.img-container {

    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: black;

}

/* regole img */
.img-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* container testo */
.text-container {

    text-align: start;
    padding: 15px;
    background-color: black;
    overflow: hidden;

}

/* regole titolo */
.text-container h3 {

    font-size: 1.25rem;
    margin-bottom: 10px;
    color: white;

}

/* regole span */
.text-container span {

    display: block;
    color: white;
    margin-bottom: 5px;

}

/* regole a (email) */
.text-container a {

    color: #007bff;
    text-decoration: none;

}

.text-container a:hover {

    text-decoration: underline;

}

h1 {

    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #e53170;

}


/* Layout responsive: quando la larghezza dello schermo è inferiore a 768px */
@media screen and (max-width: 768px) {

    /* Posiziona il testo sotto l'immagine */
    .team-container {

        grid-template-columns: repeat(3, 1fr);
        padding: 20px;

    }

    /* Posiziona il testo sotto l'immagine per ogni card */
    .team-container>div {

        display: flex;
        flex-direction: column;

    }

}

/* Quando la larghezza dello schermo è inferiore a 480px (tipico smartphone) */
@media (max-width: 480px) {

    /* aumenta font h1 */
    h1 {

        font-size: 3rem;
        margin-top: 20px;

    }

    /* Elimina p */
    p {

        display: none;

    }

    .team-container {

        /* Tutto in una colonna */
        grid-template-columns: 1fr;
        padding: 10px;
        margin-top: 0;

    }

    .text-container {

        padding-bottom: 20px;

    }

}